@import url("vars.css");

body {
  color: var(--colour-primary);
  background: url("/assets/backgrounds/grid.png"),radial-gradient(var(--colour-bg-light), var(--colour-bg));
  opacity: 0.9;
}

a {
  color: var(--colour-link);
}

a:hover {
  color: var(--colour-link-hover);
}

a.github-link {
  background-color: var(--colour-link);
  color: var(--colour-bg);
}

a.github-link:hover {
  background-color: var(--colour-link-hover);
}

/* footer {
    background-color: var(--colour-primary);
     opacity: 0.5;
} */

.employer{
  border-top-color: var(--colour-primary);
}
