@import url("vars.css");
@import url("https://fonts.googleapis.com/css?family=VT323");
/* @import url("https://fonts.googleapis.com/css?family=Orbitron"); */
/* @import url("https://fonts.googleapis.com/css?family=Press Start 2P"); */
/* @import url("https://fonts.googleapis.com/css?family=Nixie One"); */
/* @import url("https://fonts.googleapis.com/css?family=Silkscreen"); */
/* @import url("https://fonts.googleapis.com/css?family=DotGothic16"); */

@import url("https://fonts.googleapis.com/css?family=Ubuntu Mono");

:root {
  --font-primary: "VT323";
  --font-mono: "Ubuntu Mono";
}

body {
  font-family: var(--font-primary);
  font-size: 1.5rem;
  text-shadow: calc(-1 * var(--shadow-offset)) var(--shadow-offset) 0
      var(--colour-shadow),
    var(--shadow-offset) var(--shadow-offset) 0 var(--colour-shadow),
    var(--shadow-offset) calc(-1 * var(--shadow-offset)) 0 var(--colour-shadow),
    calc(-1 * var(--shadow-offset)) calc(-1 * var(--shadow-offset)) 0
      var(--colour-shadow);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

code {
  font-family: var(--font-mono);
  font-size: 1rem;
}

.project-name {
  font-size: 2.5rem;
}

.blog-list > li {
  font-size: 2rem;
}

.employer > .headline {
  font-style: italic;
}

.me-icon {
  font-size: 5rem;
}

footer {
  font-size: 2rem;
}

.github-link {
  text-shadow: none;
}
