@import url("https://fonts.googleapis.com/css?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap");

:root {
  --font-primary: "VT323";
  --font-mono: "Ubuntu Mono";
}

body {
  font-family: var(--font-primary);
  font-size: 1.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

code {
  font-family: var(--font-mono);
  font-size: 1rem;
}

.project-name {
  font-size: 1.5em;
}

.blog-list > li {
  font-size: 2rem;
}

.employer > .headline {
  font-style: italic;
}

.me-icon {
    font-size: 3em;
  }

  footer {
    font-size: 2rem;
  }
