@import url("vars.css");
@import url("fonts.css");
@import url("colours.css");
@import url("layout.css");

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

a {
  text-decoration: none;
}

nav > a.active {
  text-decoration: underline;
}

li.panel {
  flex-grow: 1;
  text-align: center;
  height: var(--panel-height);
  max-width: var(--panel-width);
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

table, th, td {
  table-layout: fixed;
  border: 1px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td {
padding:0.5em;;
}
