:root {
    --me-links: 3;
    --panel-height: 10rem;
    --panel-width: 15rem;
    --max-width: 60rem;
    --grid-gap: 1rem;
    --buffer: 0.5rem;
    --corner-radius: 1rem;
    --shadow-offset: 1px;
    --colour-bg: rgb(18, 10, 3);
    --colour-bg-light: rgb(119, 79, 43);
    --colour-primary: rgb(236, 143, 13);
    --colour-link: rgb(6, 173, 9);
    --colour-link-hover: rgb(2, 72, 3);
    --colour-shadow: rgb(0, 0, 0);
  }
