---
const footerItems = [
  {
    url: "//creativecommons.org/licenses/by-nc-sa/4.0/",
    title: "all content released under a CC BY-NC-SA 4.0 license",
    mdi: "creative-commons",
  },
  {
    url: "//github.com/pikesley/pikesley.org.astro",
    title: "this repo on github",
    mdi: "github",
  },
];
---

<nav>
  {
    footerItems.map((item) => (
      <a href={item.url} title={item.title}>
        <span class:list={["mdi", `mdi-${item.mdi}`]} />
      </a>
    ))
  }
</nav>

<style>
  nav {
    height: 2rem;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>
