---
import HeaderLink from "./HeaderLink.astro";
import NavLinks from "../data/nav.yaml";
---

<nav>
  {NavLinks.map((link) => <HeaderLink href={link.url}>{link.text}</HeaderLink>)}
</nav>

<style>
  nav {
    gap: 1rem;
    height: 3rem;
    margin-top: 1rem;
  }
</style>
