---
const { href } = Astro.props;
const isActive = Astro.url.pathname.startsWith(href);
---

<a href={href} class:list={[{ active: isActive }]}>
  <slot />
</a>

<style>
    a.active {
    border-top: 1px solid var(--colour-ecru);
    border-bottom: 1px solid var(--colour-ecru);
  }
</style>
