---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/talks">Talks</HeaderLink>
    <HeaderLink href="/cv">CV</HeaderLink>
  </nav>
</header>
