---
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/projects">Projects</HeaderLink>
		<HeaderLink href="/talks">Talks</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="/cv">CV</HeaderLink>
	</nav>
</header>

<h1>pikesley.org</h1>
