---
import HeaderLink from "./HeaderLink.astro";

const links = [
  {
    text: "Projects",
    url: "/projects",
  },
  {
    text: "Blog",
    url: "/blog",
  },
  {
    text: "Talks",
    url: "/talks",
  },
  {
    text: "CV",
    url: "/cv",
  },
];
---

<nav>
  {links.map((link) => <HeaderLink href={link.url}>{link.text}</HeaderLink>)}
</nav>

<style>
  nav {
    gap: 3rem;
    height: 3rem;
    margin-top: 1rem;
  }
</style>
