---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
  <HeaderLink href="/projects">Projects</HeaderLink>
  <HeaderLink href="/blog">Blog</HeaderLink>
  <HeaderLink href="/talks">Talks</HeaderLink>
  <HeaderLink href="/cv">CV</HeaderLink>
</nav>

<style>
  nav {
    gap: 3rem;
    height: 3rem;
    margin-top: 1rem;
  }

  nav a.active {
    pointer-events: none;
    color: var(--palette-gold);
  }
</style>
