---
import { SITE_TITLE } from "../config";
---

<a href="/" class="title">
  <span id="title">{SITE_TITLE}</span>
</a>

<style>
  span {
    color: var(--colour-red);
    font-family: var(--font-fancy);
    font-size: clamp(1rem, 0.6rem + 8vw, 4rem);
    font-weight: 600;
    text-transform: uppercase;

    -webkit-text-stroke: 0.02rem var(--colour-black);
    text-shadow: 0.15rem 0.15rem 0.2rem var(--colour-blue);

    text-align: center;

    padding-bottom: 1rem;

    margin-bottom: 0;
    background-image: url("/assets/flourishes/flourish.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 30%;

    display: block;
  }

  @media only screen and (max-width: 600px) {
    span {
      background-size: 60%;
    }
  }

  span:hover {
    color: var(--pelette-gold);
  }
</style>

<script>
  new CircleType(document.getElementById("title")).radius(300);
</script>
