---
const { mastodon } = Astro.props;

if (!("host" in mastodon)) {
  mastodon.host = "mastodon.me.uk";
}

if (!("user" in mastodon)) {
  mastodon.user = "pikesley";
}

const tootUrl =
  "https://" + mastodon.host + "/@" + mastodon.user + "/" + mastodon.toot;

const indent = "1rem";
---

<hr />

<noscript>
  <section id="error">
    Please enable JavaScript to view the comments powered by the Fediverse.
  </section>
</noscript>

<p>
  These comments are generated from replies to <a href={tootUrl}
    >this Mastodon post</a
  >
</p>
<section id="mastodon-comments"></section>

<script define:vars={{ mastodon: mastodon, indent: indent }}>
  const host = mastodon.host;
  const id = mastodon.toot;
  var commentsLoaded = false;

  function escapeHtml(unsafe) {
    return unsafe
      .replace(/&/g, "&amp;")
      .replace(/</g, "&lt;")
      .replace(/>/g, "&gt;")
      .replace(/"/g, "&quot;")
      .replace(/'/g, "&#039;");
  }

  function userAccount(account) {
    return "@" + account.acct.split("@")[0];
  }

  function makeLink(url, klass = null) {
    const link = document.createElement("a");
    link.setAttribute("rel", "nofollow");
    if (klass) {
      link.setAttribute("class", klass);
    }
    link.setAttribute("href", url);
    return link;
  }

  function fixEmojis(text, emojis) {
    const emojiMatcher = /:([A-Za-z0-9]*):/;
    const fixed = [];

    text.split(" ").forEach(function (word) {
      const match = word.match(emojiMatcher);
      if (match) {
        const ourEmoji = emojis.filter(
          (emoji) => emoji["shortcode"] == match[1]
        )[0];

        const image = document.createElement("img");
        image.setAttribute("class", "emoji");
        image.setAttribute("alt", ourEmoji.shortcode);
        image.setAttribute("src", ourEmoji.static_url);

        fixed.push(image.outerHTML);
      } else {
        fixed.push(word);
      }
    });

    return fixed.join(" ");
  }

  function fixTimestamp(timestamp) {
    dayjs.extend(dayjs_plugin_advancedFormat); // to get ordinal days

    var format = "MMMM Do [at] HH:MM";

    if (new Date().getFullYear() != new Date(timestamp).getFullYear()) {
      format = "MMMM Do, YYYY [at] HH:MM";
    }
    return dayjs(timestamp).format(format);
  }

  function clearDiv(someDiv) {
    while (someDiv.firstChild) {
      someDiv.removeChild(someDiv.firstChild);
    }
  }

  function renderToots(toots, in_reply_to, depth) {
    const tootsToRender = toots.filter(
      (toot) => toot.in_reply_to_id === in_reply_to
    );
    tootsToRender.forEach((toot) => renderToot(toots, toot, depth));
  }

  function renderToot(toots, toot, depth) {
    // avatar
    var avatarLink = makeLink(toot.account.url);
    var avatar = document.createElement("img");
    avatar.setAttribute("src", escapeHtml(toot.account.avatar_static));
    avatar.setAttribute("class", "mastodon-avatar");

    // use displayname as caption
    var caption = document.createElement("figcaption")
    caption.append(fixEmojis(
      escapeHtml(toot.account.display_name),
      toot.account.emojis
    ))

    // pack the avater and caption into a figure
    var avatarFigure = document.createElement("figure");
    avatarFigure.append(avatar)
    avatarFigure.append(caption)
    avatarLink.append(avatarFigure);

    // username span, which also takes the (hidden) avatar
    var usernameLink = makeLink(toot.account.url);
    usernameLink.append(userAccount(toot.account));
    var username = document.createElement("span");
    username.setAttribute("class", "mastodon-username");
    username.append(usernameLink);
    username.append(avatarLink);

    // timestamp
    var timedata = document.createElement("time");
    timedata.append(fixTimestamp(toot.created_at));
    var tootlink = makeLink(toot.url);
    tootlink.setAttribute("class", "mastodon-link");
    tootlink.append(timedata);
    var timestamp = document.createElement("span");
    timestamp.setAttribute("class", "mastodon-timestamp");
    timestamp.append(tootlink);

    // content
    var content = document.createElement("div");
    content.setAttribute("class", "mastodon-comment-content");
    content.innerHTML = toot.content;

    // assemble it all
    var mastodonComment = document.createElement("article");
    mastodonComment.setAttribute("class", "mastodon-comment");
    mastodonComment.setAttribute(
      "style",
      "margin-left: calc(" + indent + " * " + depth + ")"
    );

    // username and timestamp
    var metadata = document.createElement("span");
    metadata.setAttribute("class", "mastodon-metadata");
    metadata.append(username);
    metadata.append(timestamp);

    mastodonComment.append(metadata);
    mastodonComment.append(content);

    document
      .getElementById("mastodon-comments")
      .appendChild(
        DOMPurify.sanitize(mastodonComment, { RETURN_DOM_FRAGMENT: true })
      );

    renderToots(toots, toot.id, depth + 1);
  }

  function loadComments() {
    if (commentsLoaded) return;

    const commentsDiv = document.getElementById("mastodon-comments");

    clearDiv(commentsDiv);
    const loadingComments = document.createElement("p");
    loadingComments.append("Loading comments from Mastodon");
    commentsDiv.append(loadingComments);

    fetch("https://" + host + "/api/v1/statuses/" + id + "/context")
      .then(function (response) {
        return response.json();
      })
      .then(function (data) {
        if (
          data["descendants"] &&
          Array.isArray(data["descendants"]) &&
          data["descendants"].length > 0
        ) {
          clearDiv(commentsDiv);
          renderToots(data["descendants"], id, 0);
        } else {
          clearDiv(commentsDiv);
          const noCommentsYet = document.createElement("p");
          noCommentsYet.append("No comments yet");
          commentsDiv.append(noCommentsYet);
        }

        commentsLoaded = true;
      });
  }

  function respondToVisibility(element, callback) {
    const options = {
      root: null,
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        if (entry.intersectionRatio > 0) {
          callback();
        }
      });
    }, options);

    observer.observe(element);
  }

  const comments = document.getElementById("mastodon-comments");
  respondToVisibility(comments, loadComments);
</script>

<style is:global>
  :root {
    --avatar-width: 10dvw;
  }

  article.mastodon-comment {
    display: grid;
    grid-template-areas:
      "metadata"
      "content";

    border-top: 1px solid var(--colour-gold);
    padding: 1rem;

    & span.mastodon-metadata {
      grid-area: metadata;
      max-width: fit-content;
      border-bottom: 1px dotted var(--colour-gold);
      font-size: 0.9rem;
    }

    & span.mastodon-username {
      position: relative;
    }

    & span.mastodon-username figure{
      position: absolute;
      bottom: 0.5rem;
      left: 0;
    }

    & span.mastodon-username img {
      max-width: var(--avatar-width);
      border: 4px solid var(--colour-gold);
    }

    & span.mastodon-username::after {
      content: " // ";
      color: var(--colour-gold);
    }

    & a.mastodon-displayname {
      display: none;
    }

    & span.mastodon-username figure {
      visibility: hidden;
      opacity: 0;
      transition:
        visibility 1s,
        opacity 1s;
    }

    & span.mastodon-username:hover figure {
      visibility: visible;
      opacity: 1;
    }

    & div.mastodon-comment-content {
      grid-area: content;
      margin-left: 1.1rem;
    }
  }

  figure {
    margin: 0;
    position: relative;
  }

  figcaption {
    position: absolute;
    top: 1rem;
    left: calc(var(--avatar-width) + 1dvw);
    font-size: 1.2rem;
    background-color: var(--colour-ecru);
    padding: 1rem;
    visibility: hidden;
  }

  hr {
    border: 0;
    height: 1px;
    border-top: 1px solid var(--colour-gold);
  }
</style>
