---
import Base from "../layouts/Base.astro";

const posts = await Astro.glob("./blog/**/*");
const publishedPosts = posts
  .filter(
    (post) =>
      post.frontmatter &&
      "publish" in post.frontmatter &&
      post.frontmatter.publish == true
  )
  .reverse();

function getDate(slug: string) {
  return slug.split("/").slice(2, 5).join("-");
}
---

<Base title="Blog" description="Words I have written">
  <ul>
    {
      publishedPosts.map((post) => (
        <li class="panel">
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Base>

<style>
  ul {
    margin-inline: auto;
  }

  li {
    font-size: clamp(1rem, -0.9rem + 8vw, 2rem);
    margin: 1rem;
  }
</style>
