---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const posts = await Astro.glob("./blog/**/*");
const publishedPosts = posts
  .filter(
    (post) =>
      post.frontmatter &&
      "publish" in post.frontmatter &&
      post.frontmatter.publish == true
  )
  .reverse();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            publishedPosts.map((post) => (
              <li>
                <a href={post.url}>{post.frontmatter.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
