---
import Base from "../layouts/Base.astro";

const posts = await Astro.glob("./blog/**/*");
const publishedPosts = posts
  .filter(
    (post) =>
      post.frontmatter &&
      "publish" in post.frontmatter &&
      post.frontmatter.publish == true
  )
  .reverse();

function getDate(slug: string) {
  return slug.split("/").slice(2, 5).join("-");
}
---

<Base title="Blog" description="Words I have written">
  <ul>
    {
      publishedPosts.map((post) => (
        <li>
          <span>{getDate(post.url)}</span>
          <br />
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</Base>

<style>
  ul {
    max-width: 80%;
    margin-inline: auto;
    font-size: 2rem;
  }
  span {
    font-size: 1.5rem;
  }
</style>
