---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const posts = await Astro.glob("./blog/**/*");
const publishedPosts = posts.filter(post => post.frontmatter.publish).reverse()

export function getPostTitle(url: string) {
  const parts = url.split("/");
  const kebabCase = parts[parts.length - 1];

  return kebabCase
    .split("-")
    .map((word) => word.charAt(0).toUpperCase() + word.slice(1))
    .join(" ");
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            publishedPosts.map((post) => (
              <li>
                <a href={post.url}>{getPostTitle(post.url)}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
