---
import Base from "../layouts/Base.astro";
import me from "../data/me.json";
---

<Base>
  <p>
    I <a href="/projects">build software</a> and <a href="//rawfunkmaharishi.uk"
      >play music</a
    >, and I have a <a
      href="//www.diabetes.org.uk/diabetes-the-basics/types-of-diabetes/type-1"
      >non-working pancreas</a
    >.
  </p>

  <p>Some other places you can find me:</p>

  <ul>
    {
      me.map((item) => (
        <li>
          <a href={item.url}>
            <span class:list={["mdi", `mdi-${item.name}`]} />
            <br />
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
  <p>
    In fact, if you come across a user called <em>pikesley</em> on any service, it’s
    probably me
  </p>
</Base>

<style>
  ul {
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(var(--me-links), 1fr);
  }

  li {
    text-align: center;
  }

  span {
    font-size: 5rem;
  }
</style>
