---
import Base from "../layouts/Base.astro";
import me from "../data/me.yaml";
---

<Base>
  <p>
    I <a href="/projects">build software</a> and <a href="//rawfunkmaharishi.uk"
      >play music</a
    >, and I have a <a
      href="//www.diabetes.org.uk/diabetes-the-basics/types-of-diabetes/type-1"
      >non-working pancreas</a
    >.
  </p>

  <p>Some other places you can find me:</p>

  <ul class="panel">
    {
      me.map((item) => (
        <li>
          <a href={item.url}>
            <span class:list={["mdi", `mdi-${item.name}`]} />

            <span class="link-name">{item.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
  <p>
    In fact, if you come across a user called <em>pikesley</em> on any service,
    it’s probably me. (<a href="https://www.woburnsandstyres.co.uk/"
      >These guys</a
    > are nothing to do with me though)
  </p>
</Base>

<style>
  :root {
    --links: 3;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(var(--links), 1fr);
    margin-inline: auto;
    padding-top: 0;
  }

  li {
    text-align: center;
    text-transform: capitalize;
    display: grid;
  }

  .panel a {
    display: grid;
    grid-template-areas:
      "icon"
      "name";
  }

  .panel * {
    line-height: unset;
  }

  span.mdi {
    grid-area: icon;
    font-size: 4rem;
    font-size: clamp(4rem, -0.7rem + 8vw, 5rem);
  }

  span.link-name {
    grid-area: name;
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  p,
  ul {
    max-width: calc(var(--links) * 10rem);
  }

  p:last-child::after {
    content: "";
    background-image: url("/assets/images/twist.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 40%;
    height: 4rem;
    display: grid;
    font-family: var(--font-fancy);
    align-items: center;
  }
</style>
