---
import Base from "../layouts/Base.astro";
import me from "../data/me.yaml";
---

<Base>
  <p>
    I <a href="/projects">build software</a> and <a href="//rawfunkmaharishi.uk"
      >play music</a
    >, and I have a <a
      href="//www.diabetes.org.uk/diabetes-the-basics/types-of-diabetes/type-1"
      >non-working pancreas</a
    >.
  </p>

  <p>Some other places you can find me:</p>

  <ul>
    {
      me.map((item) => (
        <li>
          <a href={item.url}>
            <span class:list={["mdi", `mdi-${item.name}`]} />
            <br />
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>
  <p>
    In fact, if you come across a user called <em>pikesley</em> on any service,
    it’s probably me. (<a href="https://www.woburnsandstyres.co.uk/"
      >These guys</a
    > are nothing to do with me though)
  </p>
</Base>

<style>
  :root {
    --links: 3;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(var(--links), 1fr);
    margin-inline: auto;
  }

  li {
    text-align: center;
    font-family: var(--font-strong);
    text-transform: capitalize;
  }

  span {
    font-size: 5rem;
  }

  p {
    font-size: 1.2rem;
  }

  p,
  ul {
    max-width: calc(var(--links) * 10rem);
  }
</style>
