---
import Base from "../layouts/Base.astro";
import me from "../data/me.yaml";

function getIcon(thing: any) {
  return "mdi-" + (thing.icon ? thing.icon : thing.name)
}
---

<Base>
  <p>
    I <a href="/projects">build software</a> and <a href="//rawfunkmaharishi.uk"
      >play music</a
    >, and I have a <a
      href="//www.diabetes.org.uk/diabetes-the-basics/types-of-diabetes/type-1"
      >non-working pancreas</a
    >.
  </p>

  <p>Some other places you can find me:</p>
  <span class="iconify" data-icon="mdi-account"></span>

  <ul class="panel">
    {
      me.map((item) => (
        <li>
          <a href={item.url} id={[`link-${item.name}`]}>
            <span class:list={["mdi", getIcon(item)]} />

            <span class="link-name">{item.name}</span>
            {
              item.name == "mastodon" && (
              <iframe class="mastodon-embed"
                      id="latest-toot"
                      style="max-width: 100%; border: 0"
                      width="400"
                      allowfullscreen="allowfullscreen"></iframe>
                      <script src="https://mastodon.me.uk/embed.js" async="async"></script>
              )
            }
          </a>
        </li>
      ))
    }
  </ul>
  <p>
    In fact, if you come across a user called <em>pikesley</em> on any service,
    it’s probably me. (<a href="https://www.woburnsandstyres.co.uk/"
      >These guys</a
    > are nothing to do with me though)
  </p>


</Base>

<script is:inline>
  function fetchToot() {
    // https://css-tricks.com/how-to-fetch-and-parse-rss-feeds-in-javascript/
    const RSS_URL = "https://mastodon.me.uk/users/pikesley.rss";
    fetch(RSS_URL)
      .then((response) => response.text())
      .then((str) => new window.DOMParser().parseFromString(str, "text/xml"))
      .then((data) => {
        const items = data.querySelectorAll("item");
        document
          .getElementById("latest-toot")
          ?.setAttribute("src", items[0].childNodes[1].innerHTML + "/embed");
      });
  }

  window.onload = (event) => {
    fetchToot();
  };
</script>

<style>
  :root {
    --links: 3;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(var(--links), 1fr);
    margin-inline: auto;
    padding-top: 0;
  }

  li {
    text-align: center;
    text-transform: capitalize;
    display: grid;
  }

  .panel a {
    display: grid;
    grid-template-areas:
      "icon"
      "name";
  }

  .panel * {
    line-height: unset;
  }

  span.mdi {
    grid-area: icon;
    font-size: 4rem;
    font-size: clamp(4rem, -0.7rem + 8vw, 5rem);
  }

  span.link-name {
    grid-area: name;
    font-size: 1.2rem;
  }

  p {
    font-size: 1.2rem;
  }

  p,
  ul {
    max-width: calc(var(--links) * 10rem);
  }

  #link-mastodon #latest-toot {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    left: 50%;
    bottom: 4rem;
    transform: translateX(-50%);
    transition:
      visibility 1s,
      opacity 1s;
    transition-delay: 1s;
  }

  #link-mastodon:hover #latest-toot {
    visibility: visible;
    opacity: 1;
  }
</style>
