---
import Base from "../layouts/Base.astro";
import Projects from "../data/projects.json";

---

<Base title="Projects">
  <ul>
    {
      Projects.map((project) => (
        <li>
          <a href=`/projects/${project.name}`>{project.name}</a>
        </li>
      ))
    }
  </ul>
</Base>
