---
import Base from "../layouts/Base.astro";
import Talks from "../data/talks.yaml";

function YTUrl(data) {
  var s = "https://www.youtube.com/embed/";
  s += data.id;

  if (data.start) {
    s += "?start=";
    s += data.start;
  }

  return s;
}

function makeID(
  data: { title: string; event: string },
  withHash: boolean = false,
) {
  var i = [data.title, data.event].join(" ").toLowerCase().replaceAll(" ", "-");
  return (withHash ? "#" : "") + i;
}
---

<Base title="Talks" description="Speaking in public">
  <ul>
    {
      Talks.map((talk) => (
        <li id={makeID(talk)} class="panel">
          <h2>
            <a href={makeID(talk, true)}>{talk.title}</a>
          </h2>
          <span>{talk.event}</span>
          <section class="video-wrapper">
            <iframe
              src={YTUrl(talk)}
              allowfullscreen
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            />
          </section>
        </li>
      ))
    }
  </ul>
</Base>

<style>
  span {
    font-size: clamp(1rem, -1rem + 8vw, 1.6rem);
    display: block;
    margin-inline: auto;
    width: fit-content;
  }

  ul {
   display: grid;
   gap: 1rem;
  }
</style>
