---
import Base from "../layouts/Base.astro";
import Talks from "../data/talks.yaml";

function YTUrl(data) {
  var s = "https://www.youtube.com/embed/";
  s += data.id;

  if (data.start) {
    s += "?start=";
    s += data.start;
  }

  return s;
}

function makeID(data: {title: string, event: string}, withHash: boolean=false) {
  var i = [data.title, data.event].join(" ").toLowerCase().replaceAll(" ", "-")
  return (withHash ? "#" : "") + i
}
---

<Base title="Talks" description="Speaking in public">
  <ul>
    {
      Talks.map((talk) => (
        <li id={makeID(talk)}>
          <a href={makeID(talk, true)}>
            <h2>
              {talk.title} <span>(at {talk.event})</span>
            </h2>
          </a>
          <div class="video-wrapper">
            <iframe
              src={YTUrl(talk)}
              allowfullscreen
              frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            ></iframe>
          </div>
        </li>
      ))
    }
  </ul>
</Base>
