---
import Base from "../../layouts/Base.astro";
import { marked } from 'marked';

const data = {
    "jlock": {
        "github": "pikesley/jlock"
    },
    "wen": {
        "github": "pikesley/wen"
    },
    "potado": {
        "github": "pikesley/potado"
    },
}

export function getStaticPaths() {
    // Get this from the keys above
    // https://stackoverflow.com/a/38622270
    // return new Map(Object.keys(data).map(f => [["params", {"project": f}]]));
  return [
    { params: {
        project: "jlock"
    } },
    { params: {
        project: "potado"
    } },
    { params: {
        project: "wen"
    } },
  ];
}

const { project } = Astro.params;

const localData = data[project]

// https://stackoverflow.com/a/40403285
const readme = await fetch(
  `https://api.github.com/repos/${ localData["github"] }/readme`,
  {
    headers: {
      Accept: "application/vnd.github+json"
    },
  }
)
  .then(function (response) {
    return response.json();
  })
  .then(function (data) {
    return data;
  });

// https://docs.astro.build/en/guides/markdown-content/#fetching-remote-markdown
const markdown = marked.parse(atob(readme.content));


---

<Base>
  <div set:html={markdown}></div>
</Base>
