---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MastHead from "../components/MastHead.astro";
import Snow from "../components/Snow.astro";

import GlobalStyles from "../components/css/GlobalStyles.astro";
import "@mdi/font/css/materialdesignicons.css";
import { SITE_TITLE } from "../config";

export interface Props {
  title?: string;
  titlePrefix?: string;
  description?: string;
  image?: string;
}

const { title, titlePrefix, description, image } = Astro.props;

var headTitle = title;
if (titlePrefix) {
  headTitle = titlePrefix + " :: " + headTitle;
}

var pageTitle = SITE_TITLE;
if (description) {
  pageTitle = description;
}
---

<html lang="en">
  <head>
    <BaseHead title={headTitle} description={description} image={image} />

    <Snow /> 
  </head>
  <body>
    <header>
      <Header />
    </header>

    <main>
      <MastHead />
      {
        title && (
          <section>
            <h1>{pageTitle}</h1>
          </section>
        )
      }
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>

    <GlobalStyles />

    <style>
      :root {
        --flouron: "𑁍";
        /* ߷ ๛ ༄ ෴ ๏ ៚ ᪣ ᯼ ᯽ ※ ⸛ ⸭ ꧁ ꧂ 𑁍 𑅀 𑑛 */
      }

      h1 {
        font-family: var(--font-fancy);
        color: var(--colour-black);
        font-size: clamp(1rem, -0.5rem + 8vw, 3rem);
        margin: 0;
        margin-inline: auto;
        padding: 0;
      }

      section {
        margin-top: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        max-width: fit-content;
        margin-inline: auto;
      }

      section::before,
      section::after {
        color: var(--colour-gold);
        font-size: clamp(1rem, -0.5rem + 8vw, 2.5rem);
        position: relative;
        content: var(--flouron);
        padding-inline: 0.5rem;
      }
    </style>
  </body>
</html>
