---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MastHead from "../components/MastHead.astro";
import Snow from "../components/Snow.astro";

import GlobalStyles from "../components/GlobalStyles.astro";
import "@mdi/font/css/materialdesignicons.css";
import { SITE_TITLE } from "../config";

export interface Props {
  title?: string;
  titlePrefix?: string;
  description?: string;
  image?: string;
}

const { title, titlePrefix, description, image } = Astro.props;

var headTitle = title;
if (titlePrefix) {
  headTitle = titlePrefix + " :: " + headTitle;
}

var pageTitle = SITE_TITLE;
if (description) {
  pageTitle = description;
}
---

<html lang="en">
  <head>
    <BaseHead title={headTitle} description={description} image={image} />

    <Snow />
  </head>
  <body>
    <div id="overlay"></div>
    <header>
      <Header />
    </header>

    <main>
      <MastHead />
      {title && <h2>{pageTitle}</h2>}
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>

    <GlobalStyles />

    <style>
      html {
        height: 100%;
      }

      body {
        position: relative;
        min-height: 100svh;
        margin: 0;
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-rows: auto auto 1fr;

        background-color: var(--palette-ecru);
        font-family: var(--font-plain);
      }

      #overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: repeat;
        /* https://www.transparenttextures.com/ */
        background-image: url("/assets/backgrounds/paper-texture.png");
        pointer-events: none;
        mix-blend-mode: overlay;
        opacity: 0.7;
        z-index: 1000;
      }

      header {
        grid-area: header;
        background-color: var(--palette-blue);
      }

      main {
        grid-area: main;
        width: clamp(200px, 80%, 1000px);
        margin-inline: auto;

        color: var(--palette-black);
      }

      footer {
        grid-area: footer;
        align-self: end;
        background-color: var(--palette-blue);
      }

      h2 {
        text-align: center;
        font-family: var(--font-fancy);
        color: var(--palette-black);
        font-size: clamp(1rem, -0.1rem + 8vw, 3rem);
      }
    </style>
  </body>
</html>
