---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE } from "../config";
import "@mdi/font/css/materialdesignicons.css";

export interface Props {
  title?: string;
  titlePrefix?: string;
  description?: string;
}

const { title, titlePrefix, description } = Astro.props;

var headTitle = title
if (titlePrefix) {
  headTitle = titlePrefix + " :: " + headTitle
}

var pageTitle = SITE_TITLE
if (description) {
  pageTitle = description
}
---

<html lang="en">
  <head>
    <BaseHead title={headTitle} description={description} />
  </head>
  <body>
    <Header />
    <main>
      <a href="/" class="title">
        <h1>{SITE_TITLE}</h1>
      </a>
      {title && <h2 class="title">{pageTitle}</h2>}
      <slot />
    </main>
    <Footer />
  </body>
</html>
