---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MastHead from "../components/MastHead.astro";
import Snow from "../components/Snow.astro";

import GlobalStyles from "../components/css/GlobalStyles.astro";
import { SITE_TITLE } from "../config";

export interface Props {
  title?: string;
  titlePrefix?: string;
  description?: string;
  image?: string;
}

const { title, titlePrefix, description, image } = Astro.props;

var headTitle = title;
if (titlePrefix) {
  headTitle = titlePrefix + " :: " + headTitle;
}

var pageTitle = SITE_TITLE;
if (description) {
  pageTitle = description;
}
---

<html lang="en">
  <head>
    <BaseHead title={headTitle} description={description} image={image} />

    <Snow />
  </head>
  <body>
    <header>
      <Header />
    </header>

    <main>
      <MastHead />
      {
        title && (
          <section>
            <h1>{pageTitle}</h1>
          </section>
        )
      }
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>

    <GlobalStyles />

    <style>
      html {
        font-family: var(--font-plain);
        height: 100%;
        overflow-x: hidden;
      }
      body {
        color: var(--colour-main);
        background-color: var(--colour-background);

        position: relative;
        min-height: 100svh;
        margin: 0;
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-rows: auto auto 1fr;
      }

      header {
        background-color: var(--colour-secondary);
        position: sticky;
        top: 0;
        z-index: 1;
      }

      /* header::before {
        content: '';
        background-color: var(--colour-secondary);
        height: 1rem;
        display: block;
      } */

      /* header::after {
        content: '';
        background-image: linear-gradient(
          var(--colour-background),
           rgba(0, 0, 0, 0)
          );
        height: 0.5rem;
        display: block;
      } */

      main {
        grid-area: main;
        width: clamp(200px, 80%, 1000px);
        margin-inline: auto;

        color: var(--colour-main);
      }

      footer {
        grid-area: footer;
        align-self: end;
        background-color: var(--colour-secondary);
      }

      :root {
        --flouron: "𑁍";
        /* ߷ ๛ ༄ ෴ ๏ ៚ ᪣ ᯼ ᯽ ※ ⸛ ⸭ ꧁ ꧂ 𑁍 𑅀 𑑛 */
      }

      h1 {
        font-family: var(--font-fancy);
        color: var(--colour-main);
        font-size: clamp(1rem, -0.5rem + 8vw, 3rem);
        margin: 0;
        margin-inline: auto;
        padding: 0;
      }

      section {
        margin-top: 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        max-width: fit-content;
        margin-inline: auto;
      }

      section::before,
      section::after {
        color: var(--colour-highlight);
        font-size: clamp(1rem, -0.5rem + 8vw, 2.5rem);
        position: relative;
        content: var(--flouron);
        padding-inline: 0.5rem;
      }
    </style>
  </body>
</html>
