---
import Base from "./Base.astro";
import MastodonComments from "../components/MastodonComments.astro";

const { frontmatter } = Astro.props;
---

<Base
  title={frontmatter.title}
  titlePrefix="Blog"
  description={frontmatter.title}
  image={frontmatter.image}
>
  <div>
    <slot />
  </div>
  {frontmatter.mastodon && <MastodonComments mastodon={frontmatter.mastodon} />}
</Base>
